# pnpm — ekledi: build script onayı için
auto-install-peers=false
strict-peer-dependencies=false
engine-strict=true
public-hoist-pattern[]=*types*
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
prefer-frozen-lockfile=true
resolution-mode=highest
fetch-retries=5
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=60000
node-linker=isolated

# Güvenli paketler için build script otomatik onayı (Faz 1)
# Prod için bunu kapatmanız önerilir
