# storefront — ortam değişkenleri şablonu
NODE_ENV=development
LOG_LEVEL=info
APP_VERSION=0.1.0

NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_STORE_API=http://localhost:9000

# Tenant çözümleme için ipucu (Faz 2'de kullanılacak)
NEXT_PUBLIC_DEFAULT_TENANT=firma-a
